<div style="text-align: center">
  <h1>Confirm Forgot Pasword</h1>
  <br>
  <div>
    <label for="email">Email: </label>
    <input id="email" type="email" [(ngModel)]="email">
  </div>
  <br>
  <div>
    <label for="code">Code: </label>
    <input id="code" type="text" [(ngModel)]="code">
  </div>
  <br>
  <div>
    <label for="password">New Password: </label>
    <input id="password" type="password" [(ngModel)]="password">
  </div>
  <br>
  <button [disabled]="!email.length && !password.length" (click)="onSubmit()">Submit</button>
  <br>
  <br>
  <a routerLink="/login">To Login</a>
  <br>
</div>
