<div style="text-align: center">
  <h1>Change Password</h1>
  <br>
  <div>
    <label for="oldPassword">Old Password: </label>
    <input id="oldPassword" type="password" [(ngModel)]="oldPassword">
  </div>
  <br>
  <div>
    <label for="newPassword">New Password: </label>
    <input id="newPassword" type="password" [(ngModel)]="newPassword">
  </div>
  <br>
  <button [disabled]="!oldPassword.length && !newPassword.length" (click)="onChange()">Change</button>
  <br>
  <br>
  <a routerLink="/dashboard">Back</a>
  <br>
</div>
