<div class="container text-center d-flex justify-content-center">
  <div class="col-md-6 ModalForm center">
    <div class="card card-container p-4 my-4">
      <h3>Change Email</h3>
      <!-- <img
        src={image}
        alt="profile-img"
        class="profile-img-card"
      /> -->
      <Form>
        <div class="form-group">
          <label htmlFor="email">Email: </label>
          <input
            id="email"
            class="form-control"
            type="text"
            name="email"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group my-4" >
          <button
            type="button"
            class="btn btn-primary btn-block"
            [disabled]="!email.length"
            (click)="onChange()"
          >
          Change
          </button>
        </div>
      </Form>
      <a routerLink="/dashboard">Back</a>
    </div>
  </div>
</div>


